extends includes/layout.pug

block content
    include includes/header.pug
    include includes/card.pug
    include includes/recent-posts.pug
    include includes/paginator.pug
    include includes/footer.pug
    include includes/sidebar.pug    
