// archive.styl

#archive
    margin-top: 40px;
    width: 100%;
    .archive-content
        width: 98.5%;
        max-width: 850px;
        margin: 30px auto;
        background: #fff;
        border: 1px solid #ddd;
        box-shadow: 1px 1px 5px #ddd;
        .archive-page > *
            display: inline-block;
            padding-left: 1.2em;
        .archive-page
            margin: 1.4em auto;
            min-height: 1.2em;
            max-width: 98%;
            li
                padding-left: 4em;
            span
                color: #1bacc6;
            a
                text-decoration: none;
                color: black;
                font-size: 1.1em;
            a:hover
                color: #0d5c7e;
