// card.styl

#card
    margin-top: 40px;
    width: 100%;
    height: 200px;
    // box-sizing: border-box;
    // background: #44bfed;
    .card
        background-image: url('https://ws2.sinaimg.cn/large/006tNc79gy1fmfevigijzj31kw11x119.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        // background: #fff;
        border: 1px solid #ddd;
        box-shadow: 0 0 5px #ddd;
        width: 98.5%;
        max-width: 850px;
        height: inherit;
        margin: 0 auto;
        .card-title
            height: 40%;
            span
                display: block;
                box-sizing: border-box;
                padding: 20px 20px;
                font-size: 40px;
        .card-bio
            height: 60%;
            span
                display: block;
                box-sizing: border-box;
                float: right;
                padding: 30px 20px;
                font-size: 20px;
