// footer.styl

#footer-outer
    margin: 0 auto;
    max-width: 850px;
    border-top: 1px solid #6b8683;
    // border: 1px solid #ddd;
    width: 98.5%;
    height: 60px;
    text-align: center;
#footer-inner
    margin-top: 20px;
    font-size: 15px;
    a
        text-decoration: none;
        color: black;
