// paginator.styl

.pagination
    margin: 0 auto;
    max-width: 850px;
    // border: 1px solid #ddd;
    width: 98.5%;
    height: 60px;
    text-align: center;
    // padding: 20px auto;
    .page-number
        // display: block;
        // margin-top: 20px;
        font-size: 20px
    a
        text-decoration: none;
        // .next_right
        //     display: block;
        //     width: 30px;
        //     height: 30px;
        //     border-radius: 50%;
        //     background: red;
        .fa-arrow-right
            // display: block
            float: right;
            // padding-right: 10px;
            color: black;
            font-size: 20px;
        .fa-arrow-left
            // display: block
            float: left;
            // padding-left: 10px;
            color: black;
            font-size: 20px;
#pagination
    margin: 0 auto;
    max-width: 850px;
    // border: 1px solid #ddd;
    width: 98.5%;
    height: 60px;
    text-align: center;
    a
        text-decoration: none;
        color: black;
