// recent-posts.styl

#recent-posts
    margin-top: 30px;
    background: #fff;
    // backgroud: #6b99c4;
    width: 100%;
    .recent-posts
        height: 300px;
        width: 98.5%;
        max-width: 850px;
        margin: 30px auto;
        background: #fff;
        // border: 1px solid #ddd;
        box-shadow: 1px 1px 5px #ddd;
        .post-title
            display: block;
            height: 60%;
            // background: #0897de;
            background: teal;
            // padding: 30px 40px;
            a
                height: 100%;
                padding: 30px 40px;
                display: block;
                box-sizing: border-box;
                font-size: 40px;
                text-decoration: none;
                color: whitesmoke;
        .post-excerpt
            border-left: 0.5px solid #ddd;
            border-right: 0.5px solid #ddd;
            // background: black;
            background: #fff;
            height: 20%;
            blockquote
                margin: 0;
                height: 100%;
                p
                    // text-align: center;
                    // display: inline-block;
                    display: flex;
                    box-sizing: border-box;
                    font-size: 5px;
                    padding: 15px 10px;
                    margin: 0;
                    color: black;
                    a
                        text-decoration: none;
                        color: black;
        .post-info
            border-top: 0.5px solid #ddd;
            border-left: 0.5px solid #ddd;
            border-right: 1px solid #ddd;
            border-bottom: 0.5px solid #ddd;
            background: #fff;
            // background: black;
            margin: 0;
            padding: 0;
            height: 20%;
            .info
                display: flex;
                box-sizing: border-box;
                float: left;
                padding: 15px 20px;
                .favicon
                    img
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                .author
                    margin-left: 20px;
                    // text-align: center;
            .tag
                display: flex;
                box-sizing: border-box;
                float: right;
                padding:15px 20px;
                a
                    text-decoration: none;
                    color: black;
                    font-size: 15px;
