// sidebar.styl

#sidebar
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    // width: 300px;
    bottom: 0;
    left: 0;
    // width: 100%;
    background: rgba(0,0,0,0.8);
    // background: teal;
    nav
        margin-top: 100px;
        ul
            list-style: none;
            padding: 10px 20px;
            li
                text-align: center;
                a
                    font-size: 40px;
                    text-decoration: none;
                    color: whitesmoke;
                    padding: 20px;
                    display: inline-block;
                a:hover
                    color: teal;
